body{
	margin:0;
	padding:0;
	background:#fff;
	font-family: 'Raleway',sans-serif;
	color: #fff;
}
.banner{
	height: 100%;
	width: 100%;
	background:url('overlay.png'),url('WolfPlaza.jpg');
	background-position: top;
	background-size: cover;
	background-attachment: fixed;
	background-repeat: no-repeat;
}
.addPadding{
	padding-top: 75px;	
}
.banner2{
	height: 100vh;
	width: 100%;
	background:url('overlay.png'),url('WolfPlaza.jpg');
	background-position: top;
	color: #fff;
	background-size:cover;
	background-attachment: fixed;
	background-repeat: no-repeat;
}
.banner .navbar{
	margin-top:0%;
}
.banner .navbar-brand{
	color: #fff;
	font-size:1.8em;
	font-weight: 700;
	margin-left: 0%;
}
.banner .nav{
	margin-right:0%;
}
.banner .nav li a{
	color:#aaa;
	font-size: 1.2em;
}
.banner .info{
	margin-top:15%;
	transform: translateY(-15%);
}
.banner .info h1{
	font-size: 2.5em;
	font-weight: 700;
	color: #fff;
	letter-spacing: 2px;
}
.banner .info p{
	font-size: 2em;
	font-weight: 500;
	color: #aaa;
	letter-spacing: 2px;
}
.banner .info a{
	margin-left:50%;
	transform: translateX(-50%);
	color: #fff;
	/* background: #e91d43; */
	padding:10px 20px;
	font-size: 2em;
	font-weight: 600;	
}

.main {
  margin-top: 80px;
}

.navbar {
  overflow: hidden;
  background-color: #333;
  position: sticky;
  top: 0;
  width: 100%;
}
/* Flash Message Styles */
.flash-message {
    position: fixed; /* Keeps it on top */
    top: 20px; /* Space from the top */
    left: 50%; /* Center horizontally */
    transform: translateX(-50%); /* Adjust to perfectly center */
    z-index: 1000; /* Ensure it’s on top */
    width: auto; /* Adjust width if needed */
    max-width: 500px; /* Limit the maximum width */
    text-align: center; /* Center text */
    margin: 0 auto; /* Center in the container */
}

.alert {
    margin-bottom: 20px; /* Space below alerts */
    font-family: 'Raleway', sans-serif; /* Use your chosen font for flash messages */
    font-weight: 700; /* Set the boldness for flash messages */
    /* Add any additional styles you want, such as padding or border-radius */
}

/* Customize alert styles */
.alert-success {
    background-color: #d4edda; /* Light green background */
    color: #155724; /* Dark green text */
}

.alert-danger {
    background-color: #f8d7da; /* Light red background */
    color: #721c24; /* Dark red text */
}
