{% extends "base.html" %}

{% block content %}

<!DOCTYPE html>
<html lang="en">
<title>Login</title>

<head>
  <meta charset="UTF-8" />
  <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="{{url_for('static', filename='/css/style.css')}}" />
</head>

<body>

  <section>
    <div class="rt-container">
      <div class="col-rt-12">
        <div class="Scriptcontent">

          <div class="feedback">

            <!-- Flash messages section -->
            {% with messages = get_flashed_messages(with_categories=true) %}
            {% if messages %}
            <ul class="flashes">
              {% for category, message in messages %}
              <li class="{{ category }}">{{ message }}</li>
              {% endfor %}
            </ul>
            {% endif %}
            {% endwith %}

            <form method="post" action="/login"> <!-- Form action points to /login -->
              <h1>Login to the PackReview Portal</h1>
              <hr class="survey-hr">
              <label for="username">Username</label><br /><br />
              <input type="text" name="username" style="width: 100%;" required /><br><br>

              <hr class="survey-hr">
              <label for="password">Password</label><br /><br />
              <input type="password" name="password" style="width: 100%;" required /><br><br>

              <div class="clear"></div>
              <input style="background:#43a7d5;color:#fff;padding:12px;border:0" type="submit" value="Login">&nbsp;
            </form>
          </div>
        </div>
      </div>
    </div>
  </section>

</body>

</html>

{% endblock %}