{% extends "base.html" %}

{% block content %}

<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8" />
  <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="{{url_for('static', filename='/css/style.css')}}" />
</head>

<body>
  <section>
    <div class="rt-container">
      <div class="col-rt-12">
        <div class="Scriptcontent">

          <div class="feedback">
            <form method="post" action="/add">
              <h1>Please add your Review
              </h1>
              <hr class="survey-hr">
              <label for="m_3189847521540640526commentText">What is your job position?</label><br /><br />
              <input type="text" cols="75" name="job_title" id="job_title" rows="5" style="100%" size="80%" value="{{ entry.title if entry else '' }}" required></input><br>
              <br>

              <hr class="survey-hr">
              <label for="m_3189847521540640526commentText">Where do you work?</label><br /><br />
              <input type="text" cols="75" name="company" id="company" rows="5" style="100%" size="80%" value="{{ entry.company if entry else '' }}" required></input><br>
              <br>

              <hr class="survey-hr">
              <label for="m_3189847521540640526commentText">In which department do you work in?</label><br /><br />
              <input type="text" cols="75" name="department" id="department" rows="5" style="100% required" size="80%"
              value="{{ entry.department if entry else '' }}" required></input><br>
              <br>

              <hr class="survey-hr">
              <label for="m_3189847521540640526commentText">What was your job location?</label><br /><br />
              <input type="text" cols="75" name="locations" id="locations" rows="5" style="100%" size="80%" value="{{ entry.locations if entry else '' }}" required></input><br>
              <br>

              <hr class="survey-hr">
              <label for="m_3189847521540640526commentText">What all tasks do you work on?</label><br /><br />
              <input type="text" cols="75" name="job_description" id="job_description" rows="5" style="100%" size="80%" value="{{ entry.description if entry else '' }}" required></input><br>
              <br>

              <hr class="survey-hr">
              <label for="m_3189847521540640526commentText">What is your hourly pay rate?</label><br /><br />
              <input type="text" cols="75" name="hourly_pay" id="hourly_pay" rows="5" style="100%" size="80%" value="{{ entry.hourly_pay if entry else '' }}" required></input><br>
              <br>

              <hr class="survey-hr">
              <label for="m_3189847521540640526commentText">Do you get any other benefits other than your salary? If
                yes, please specify.</label><br /><br />
              <input type="text" cols="75" name="benefits" id="benefits" rows="5" style="100%" size="80%" value="{{ entry.benefits if entry else '' }}" required></input><br>
              <br>

              <label>Your overall experience with your job ?</label><br>

              <span class="star-rating">
                <input type="hidden" name="rating" id="rating" value="0">
                <input type="radio" name="rating" id="rating1" value="1" {% if entry and entry.rating == '1' %}checked{% endif %}><i></i>
                <input type="radio" name="rating" id="rating2" value="2" {% if entry and entry.rating == '2' %}checked{% endif %}><i></i>
                <input type="radio" name="rating" id="rating3" value="3" {% if entry and entry.rating == '3' %}checked{% endif %}><i></i>
                <input type="radio" name="rating" id="rating4" value="4" {% if entry and entry.rating == '4' %}checked{% endif %}><i></i>
                <input type="radio" name="rating" id="rating5" value="5" {% if entry and entry.rating == '5' %}checked{% endif %}><i></i>
              </span>
              <div class="clear"></div>

              <div class="clear"></div>
              <hr class="survey-hr">
              <label>On a scale of poor to best, how likely would you recommend this job to others?</label><br><br />
              <div style="color:grey">
                <span style="float:left">
                  POOR
                </span>
                <span style="float:right">
                  BEST
                </span>

              </div>
              <span class="scale-rating">
                <input type="hidden" name="recommendation" id="recommendation" value="0">
                <label value="1">
                  <input type="radio" name="recommendation" id="recommendation1" value="1" {% if entry and entry.rating == '1' %}checked{% endif %}>
                  <label style="width:100%;"></label>
                </label>
                <label value="2">
                  <input type="radio" name="recommendation" id="recommendation2" value="2" {% if entry and entry.rating == '2' %}checked{% endif %}>
                  <label style="width:100%;"></label>
                </label>
                <label value="3">
                  <input type="radio" name="recommendation" id="recommendation3" value="3" {% if entry and entry.rating == '3' %}checked{% endif %}>
                  <label style="width:100%;"></label>
                </label>
                <label value="4">
                  <input type="radio" name="recommendation" id="recommendation4" value="4" {% if entry and entry.rating == '4' %}checked{% endif %}>
                  <label style="width:100%;"></label>
                </label>
                <label value="5">
                  <input type="radio" name="recommendation" id="recommendation5" value="5" {% if entry and entry.rating == '5' %}checked{% endif %}>
                  <label style="width:100%;"></label>
                </label>
                <label value="6">
                  <input type="radio" name="recommendation" id="recommendation6" value="6" {% if entry and entry.rating == '6' %}checked{% endif %}>
                  <label style="width:100%;"></label>
                </label>
                <label value="7">
                  <input type="radio" name="recommendation" id="recommendation7" value="7" {% if entry and entry.rating == '7' %}checked{% endif %}>
                  <label style="width:100%;"></label>
                </label>
                <label value="8">
                  <input type="radio" name="recommendation" id="recommendation8" value="8" {% if entry and entry.rating == '8' %}checked{% endif %}>
                  <label style="width:100%;"></label>
                </label>
                <label value="9">
                  <input type="radio" name="recommendation" id="recommendation9" value="9" {% if entry and entry.rating == '9' %}checked{% endif %}>
                  <label style="width:100%;"></label>
                </label>
                <label value="10">
                  <input type="radio" name="recommendation" id="recommendation10" value="10" {% if entry and entry.rating == '10' %}checked{% endif %}>
                  <label style="width:100%;"></label>
                </label>
              </span>

              <div class="clear"></div>
              <hr class="survey-hr">
              <label for="m_3189847521540640526commentText">Can you describe more about the job in
                detail?</label><br /><br />
              <textarea cols="75" name="review" id="review" rows="5" required>{{ entry.review if entry else '' }}</textarea><br>
              <br>
              <div class="clear"></div>
              <input style="background:#43a7d5;color:#fff;padding:12px;border:0" type="submit"
                value="Submit your review">&nbsp;
            </form>
          </div>
        </div>
      </div>
    </div>
  </section>

</body>

</html>

{% endblock %}