{% extends "base.html" %}

{% block content %}

<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{{url_for('static', filename='/css/style.css')}}" />
</head>
<style>
    .clickable-row {
        cursor: pointer;
    }
</style>
<script>
    jQuery(document).ready(function ($) {
        $(".clickable-row").click(function () {
            window.location = $(this).data("href");
        });
    });
</script>

<body>
    <h1 style="color: white;">Top Job Picks</h1>
    <div style="background-color: white;">
        <table class="sortable table table-hover">
            <thead>
                <tr>
                    <th>Job Title</th>
                    <th>Company</th>
                    <th>Job Description</th>
                    <th>Department</th>
                    <th>Location(s)</th>
                    <th>Hourly Pay</th>
                    <th>Employee Benefits</th>
                    <th>Review</th>
                    <th>Rating</th>
                    <th>Recommendation</th>
                </tr>
            </thead>
            <tbody>
                {% for job in jobs %}

                <tr class='clickable-row' data-href="/view/{{job.id}}">
                    <td><strong>{{ job.title }}</strong></td>
                    <td><strong>{{ job.company }}</strong></td>
                    <td>{{ job.description }}</td>
                    <td>{{ job.department }}</td>
                    <td>{{ job.locations }}</td>
                    <td>{{ job.hourly_pay }}$</td>
                    <td>{{ job.benefits }}</td>
                    <td>{{ job.review }}</td>
                    <td>{{ job.rating }}/5</td>
                    <td>{{ job.recommendation }}/10</td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>
</body>

</html>

{% endblock %}